html
  head
    title= title
    link(href="spa/style.css" type="text/css" rel="stylesheet")
  body
    div#root


    script(src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-with-addons.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.min.js")
    script(src="spa/net.js")
    script(src="spa/index.js")